.default-color0.chart-bar {
    -fx-bar-fill:  #ff5700
}
.default-color1.chart-bar {
    -fx-bar-fill: #adff2f
}
.default-color2.chart-bar {
    -fx-bar-fill: #3278fa
}
.default-color3.chart-bar {
    -fx-bar-fill: #ffd700
}

.comboBox-supplier1{
    -fx-background-color: #ff5700
}
.comboBox-supplier2{
    -fx-background-color: #adff2f
}
.comboBox-supplier3{
    -fx-background-color: #3278fa
}
.comboBox-supplier4{
    -fx-background-color: #ffd700
}